{{#if user}}
<nav>
  <a href="/auth/logout">Log out</a>
</nav>
{{else}}
<nav>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Sign Up</a>
</nav>
{{/if}}
<h1>{{title}} 🚀</h1>
{{#each response}}
<h6 id="list">{{this.name}}<br><img src="{{this.mainPic}}"></img> <br>
  {{this.genre}}<br>
  {{this.synopsis}} <br>MORE<br>
  MAL ID: {{this.id}}</h6>

{{/each}}

<style>
  #list {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>