<head>
  <link rel="stylesheet" href="/stylesheets/singleShow.css">
</head>

<body class="main">
  <main>
<div class="glass">
  <div class="padding">
<h1>{{returnedShow.name}}</h1>
<img src="{{returnedShow.mainPic}}" />
<p>{{returnedShow.score}}</p>
<p>{{returnedShow.synopsis}}</p>
<ul>
  {{#each returnedShow.genre}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<form action="/show/{{returnedShow._id}}/addToFavourites" method="POST">

  <button type="submit">Add to favorites</button>
</form>

<p>Have you already seen this show ?</p>

<form action="/show/{{returnedShow._id}}/viewedShow" method="POST">

  <button type="submit">Yes</button>
</form>

<form action="/show/{{returnedShow._id}}/planToWatch" method="POST">

  <button type="submit">Plan to Watch</button>

</form></div>
</div>
  </main>
  </body>
